[Unit]
Description=to mute audio
PartOf=lock.target
Before=sleep.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=sh -c 'amixer get Master | rg -q "\\[on\\]"'
ExecStart=amixer set Master mute -q
ExecStop=amixer set Master unmute -q

[Install]
WantedBy=lock.target
