[Unit]
Description=to update hyprlock information
After=hyprlock.service

[Service]
Type=oneshot
ExecCondition=pidof hyprlock
ExecStart=pkill -USR2 hyprlock
