[Unit]
Description=hyprlock information update
After=hyprlock.service

[Service]
Type=oneshot
ExecCondition=pidof hyprlock
ExecStart=pkill -USR2 hyprlock
