[Unit]
Description=systemd inhibitor lock for %I

[Service]
Type=simple
ExecStart=/usr/bin/systemd-inhibit --what="idle:sleep" --why=%I /usr/bin/sleep infinity

