[Unit]
Description=switching keybord layout to English on lock and back when unlocked
PartOf=lock.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'if /usr/bin/hyprctl devices -j | /usr/bin/jq -r \'.keyboards | map(select(.name == "'"at-translated-set-2-keyboard"'")) | .[0] | .active_keymap\' | /usr/bin/rg -iq ru; then /usr/bin/touch /home/$USER/.cache/layout-switched-before-lock; hyprctl switchxkblayout at-translated-set-2-keyboard next; fi'
ExecStop=/usr/bin/bash -c "if [[ -f /home/$USER/.cache/layout-switched-before-lock ]]; then /usr/bin/rm /home/$USER/.cache/layout-switched-before-lock; hyprctl switchxkblayout at-translated-set-2-keyboard next; fi"

[Install]
WantedBy=lock.target
