[Unit]
Description=to mute mic
PartOf=lock.target
Before=sleep.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=sh -c 'amixer get Capture | rg -q "\[on\]"'
ExecStart=amixer set Capture nocap -q
ExecStop=amixer set Capture cap -q

[Install]
WantedBy=lock.target
