[Unit]
Description=to reduce brightness smoothly and to turn off the screen
RefuseManualStart=true
RefuseManualStop=true
PartOf=sleep.target
Before=sleep.target
PartOf=screen-off.target
Before=screen-off.target

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=null
ExecStart=brillo -O ; brillo -q -u 200000 -S 0 ; hyprctl --quiet dispatch dpms off
ExecStop=hyprctl --quiet dispatch dpms on ; brillo -q -u 500000 -I

[Install]
WantedBy=sleep.target
WantedBy=screen-off.target
