[Unit]
Description=to pause touchpad function
RefuseManualStart=true
RefuseManualStop=true
PartOf=screen-off.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sh -c 'hyprctl --quiet keyword \"device[$$(hyprctl devices -j | gojq -r \'.mice .[] | select(.name | endswith(\"touchpad\")) .name\')]:enabled\" false'
ExecStop=sh -c 'hyprctl --quiet keyword \"device[$$(hyprctl devices -j | gojq -r \'.mice .[] | select(.name | endswith(\"touchpad\")) .name\')]:enabled\" true'

[Install]
WantedBy=screen-off.target
