[Unit]
Description=to update cached weather
OnSuccess=hyprlock-update.service
Before=hyprlock-update.service

[Service]
Type=oneshot
ExecCondition=sh -c 'ping -q -w1 -c1 weather.com >/dev/null'
ExecStart=sh -c '/home/$USER/.local/bin/weather > /home/$USER/.cache/weather'

[Install]
WantedBy=lock.target
