[Unit]
Description=timer to update cached weather
PartOf=lock.target

[Timer]
OnCalendar=*:0/10
RemainAfterElapse=false

[Install]
WantedBy=lock.target
