[Unit]
Description=wl-gammarelay-rs (to change screen temperature)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -c 'for _ in {1..50}; do busctl --user -- call rs.wl-gammarelay / rs.wl.gammarelay UpdateTemperature n -50; sleep 0.1; done'
ExecStop=bash -c 'for _ in {1..50}; do busctl --user -- call rs.wl-gammarelay / rs.wl.gammarelay UpdateTemperature n +50; sleep 0.1; done'
