function adm --wraps='doas fish -l -C cd' --description 'Open fish login shell as root'
  {{- if eq .chezmoi.osRelease.id "nixos" }}
    /run/wrappers/bin/doas /run/current-system/sw/bin/fish -l -C cd
  {{- else }}
    /usr/bin/doas /usr/bin/fish -l -C cd
  {{- end }}
end
